.conta-section {
  background-image: url(../../assets/conta.png);
  /* height: 90rem; */
  width: 100%;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 111;
  /* padding: 5rem 16rem !important; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 2rem 7% 5rem 7%;
  background-color: black;
	overflow-x: hidden;


}
.conta-heading {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 800;
  background: linear-gradient(
    91.45deg,
    #b6ff9c 3.36%,
    #c7fa50 44.73%,
    #02ffe2 98.36%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  /* width: 550px; */
  text-align: center;
}
.conta-dollar {
  font-weight: 700;
  /* font-size: 3.2rem; */
  line-height: 67.5%;
  text-align: center;
  color: #ffffff;
}
.conta-card-list {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  width: 1200px;
  gap: 3rem;
  position: relative;
  margin-bottom: 10rem;
}

.list-left {
  /* position: absolute;
  top: 0;
  left: 10rem; */
  margin-left: 10rem;
}
.list-right {
  /* position: absolute;
  top: 16rem;
  right: 12rem;
  margin-left: auto; */
  justify-self: center;
  align-self: flex-end;
  /* margin-right: 10rem; */
  margin-top: -4rem;
}
.list-mid {
  margin-left: 20rem;
}
@media screen and (min-width: 1550px) {
  .list-right{
    margin-right: -12rem;
  }
}
@media screen and (max-width: 1300px) {
  .conta-card-list {
    width: 1100px;
  }
  .card-content {
    width: 52rem;
  }
}
@media screen and (max-width: 1200px) {
  .conta-card-list {
    width: 1000px;
  }
  .card-content {
    width: 60rem;
  }
}
@media screen and (max-width: 1100px) {
  .conta-card-list {
    width: 900px;
  }
  .card-content {
    width: 50rem;
  }
}
@media screen and (max-width: 970px) {
  .conta-card-list {
    width: 770px;
  }
  .card-content {
    width: 45rem;
  }
}
@media screen and (max-width: 850px) {
  .conta-card-list {
    width: 700px;
  }
  .card-content {
    width: 41rem;
  }
}

@media screen and (max-width: 750px) {
   .conta-card-list {
    flex: 1;
    width: 100%;
  }
  .card-content {
    width: 100%;
  } 
  .list-left,.list-right,.list-mid{
    margin: 0 !important;
  }
  .list-right{
    margin-top: 0px;
  }
  .list-mid{
    margin-left: 0rem;
  }
  .conta-card-list{
    padding-left: 10rem;
    padding-right: 0rem;
  }
}
