.better-section {
  min-height: 80vh;
  background-color: black;
  position: relative;
}
.row1 {
  /* margin-top: 50px; */
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  top: 0;
  left: 0;
  background-color: black;
}
.h3-text {
  font-weight: 700;
  /* font-size: 7rem; */
  line-height: 100%;
  margin: 0;
  background: linear-gradient(
    91.45deg,
    #b6ff9c 3.36%,
    #c7fa50 44.73%,
    #02ffe2 98.36%
  );
  text-align: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background-clip: text;
	text-fill-color: transparent; */
  display: block;
}

.subpart {
  margin-top: 10rem;
  font-family: "Outfit";
  font-style: normal;
  background: none;
  font-weight: 600;
  /* font-size: 6rem; */
  text-align: center;
  line-height: 100%;
  color: #ffffff;
}
.col-1 {
  margin-left: 5rem;
  width: 60%;
  box-sizing: border-box;
  position: relative;
  background-image: url(../../assets/Percentage2.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  position: sticky;
}
.col-1::after {
  content: "";
  width: 100%;
  height: 61rem;
  position: absolute;
  bottom: 0;
  left: 0;
  /* background-image: url(../../assets/Percentage1.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 0;
}
.col-2 {
  margin-right: 4rem;
  width: 40%;
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 18rem;
  min-height: 72rem;
}
/* .card-wrapper:first-child,
.card-wrapper:nth-child(2),
.card-wrapper:nth-child(3),
.card-wrapper:nth-child(4) {
  
  margin-top: -10rem;
}
.card-wrapper:first-child:hover .card-wrapper:nth-child(2){
  margin-top: -6rem;
} */
.card-wrapper {
  position: absolute;
  transition: all 0.4s;
}
.card-wrapper:nth-child(1):hover {
  top: -13rem;
  z-index: 2;
}
.card-wrapper:nth-child(1):hover .security-card-item1,
.card-wrapper:nth-child(2):hover .security-card-item1,
/* .card-wrapper:nth-child(3):hover .security-card-item1, */
.card-wrapper:nth-child(4):hover .security-card-item1 {
  background-image: linear-gradient(black, black),
    linear-gradient(180deg, #02ffe2, #02ffe2 100%);
}
.card-wrapper:nth-child(1) {
  top: 0rem;
  z-index: 1;
}
.card-wrapper:nth-child(2) {
  top: 13rem;
  z-index: 2;
}
.card-wrapper:nth-child(2):hover {
  top: 2rem;
  z-index: 2;
}
.card-wrapper:nth-child(3) {
  top: 26rem;
  z-index: 3;
}
.card-wrapper:nth-child(3):hover {
  top: 16rem;
}
.card-wrapper:nth-child(4) {
  top: 39rem;
  z-index: 4;
}
.card-wrapper:nth-child(4):hover {
  top: 29rem;
  z-index: 4;
  height: 115%;
  /* margin-bottom: 10rem; */
  /* filter: blur(3px); */
}
@media screen and (max-width: 850px) {
  .row1 {
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
  }
  .subpart {
    text-align: left;
  }
  .col-1,
  .col-2 {
    width: 100%;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  .col-1 {
    width: 100%;
    margin: 0;
    padding: 2rem;
  }
}
