.section1_mid {
  background-image: url(../../assets/Rise2.png);
  background-position: center -5rem;
  background-repeat: no-repeat;
  background-size: 110%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper1_details {
  width: 76rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30rem;
}
.wrapper1_details::after {
  margin: 1rem auto;
  content: "";
  width: 70%;
  height: 0.5rem;
  border: 1px solid;
  border-image-source: linear-gradient(
    91.45deg,
    #b6ff9c 3.36%,
    #c7fa50 44.73%,
    #02ffe2 98.36%
  );
  border-radius: 1rem;
  background: linear-gradient(
    91.45deg,
    #b6ff9c 3.36%,
    #c7fa50 44.73%,
    #02ffe2 98.36%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  transition: all 0.5s;
}

.mid_bottom_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom_card {
  display: flex;
  align-items: center;
  margin: auto;
  z-index: 11;
  position: relative;
  left: -10rem;
  top: -10rem;
}
.arrow_reverse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 14rem;
  border-radius: 100%;
  border: 3px solid rgba(2, 255, 226, 1);
  background-color: #000000;
  z-index: 10;
  transition: all 0.7s;
  padding: 1rem;
}
.arrow_reverse img {
  width: 100%;
  height: 100%;
  margin-top: 0 !important;
}
.arrow_reverse:hover {
  animation: rotates 2s infinite linear;
  border: 5px solid rgba(2, 255, 226, 1);
}
.group-img {
  display: flex;
}
.shuffle-card-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
.shuffle-cards-main {
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin: 5rem; */
  flex-direction: column;
  justify-content: center;
  padding-left: 4rem;
  /* align-items: center; */
}
.shuffle-arrow-reverse {
  width: 7rem;
  height: 7rem;
  background: #02ffe2;
  border-radius: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -2rem;
  right: -25rem;
  z-index: 10;
  cursor: pointer;
}
.shuffle-card2 {
  position: relative;
  top: -3rem;
  right: -22rem;
}
.shuffle-arrow-reverse img {
  width: 3.9rem;
  height: 3.9rem;
}
@media screen and (max-width: 1000px) {
  .group-img {
    transform: scale(0.9);
  }
  .shuffle-cards-main{
    width: 60rem;
  }
}
@media screen and (max-width: 850px) {
  .group-img {
    transform: scale(0.7);
  }
}
@media screen and (max-width: 720px) {
  .group-img {
    transform: scale(0.5);
  }
}
@media screen and (max-width: 500px) {
  .group-img {
    transform: scale(0.36);
  }
  .shuffle-cards-main{
    padding: 0;
    align-items: center;
  }
  .shuffle-arrow-reverse,.shuffle-card2{
    right: 0;
  }
  
}
.phone_img {
  /* width: 51rem;
	height: 67rem;
	transform: rotate(-44deg); */
}
